@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:ital,wght@0,400;1,500;1,600;1,700&family=Square+Peg&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(95, 212, 255, 0.893),#e9f848a8 ) ;
  overflow: hidden;

}

.container .photo{
  padding-left: 25%;
  padding-top: auto;
  opacity: .7;
}

.btn{
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 600;
  margin:10px 0;
  transition: .5s;
}

.btn:hover{
  background-color: #4d84e2;
}
.container h8{
  opacity: 0.4;
padding-left: 40% ;
  display: flex;
  align-items: center;
  font-size: 80px;
}

.content{
  justify-content: space-between;
  display: flex;
  margin: 15px;
}
@media only screen and (max-width:800px) {
 
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
 
  .menu, .main, .right {
    width: 100%;
  }
}
