{% load static %}
{% load account %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script
        src="http://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous">
    </script>
    <title>Privatize</title>
    <link rel="stylesheet" href={% static "drive_style.css" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="option-container">
                <button class="btn"><i class="fa fa-download"></i> Download</button>
                <input type="file" id="file" style="display:none;" />
                <button class="btn" id="button" name="button" value="Upload" onclick="thisFileUpload();"><i class="fa fa-upload" aria-hidden="true"></i> Add File</button>
                <button class="btn" id="folder"><i class="fa fa-folder" aria-hidden="true"></i> Add Folder</button>
                <button class="btn" id="settings"><i class="fa fa-cog" aria-hidden="true"></i> Settings</button>
                <button class="btn" id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
            </div>
        </div>

        {% block content %} {% endblock %}

        <script src={% static 'drive.js' %}></script>
        <script type="text/javascript">
            document.getElementById("folder").onclick = function () {
            location.href = "{% url 'add_folder' %}";
            };
            document.getElementById("settings").onclick = function () {
            location.href = "{% url 'settings' %}";
            };
            document.getElementById("logout").onclick = function () {
            location.href = "/accounts/logout";
            };
        </script>
        <script>
            function thisFileUpload() {
                document.getElementById("file").click();
            }
        </script>
    
    </body>
    
</html>
